*,
::after,
::before {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  max-width: 100%;
}
p {
  margin: 0;
}
#root {
  height: 100%;
  max-width: 100%;
}

@font-face {
  font-family: "BalooBhai";
  src: url("./fonts/BalooBhai/BalooBhai.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway/Raleway.ttf");
  font-style: normal;
  font-weight: 400;
}
